/target
/.settings
/.classpath
/.project
/.metadata
/Users
/nb-configuration.xml
/.DS_Store
.DS_Store
/gestionnaire.iml
/deployments
/gestionnaire-web/target/
/gestionnaire-commons/target/
/gestionnaire-familles/target/
/gestionnaire-enfants/target/
/gestionnaire-administration/target/